*{
    box-sizing: border-box;
}
body{
    background-color: #F7F7F7;
}
a{
    text-decoration: none;
}

.section-1{
    /* border: 1px solid black; */
    text-align: center;
    height: 60vh;
    background-image: url(image/fond-aquarelle-peint-main-forme-ciel-nuages_24972-1095.avif);
     background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
}

.div-1{
    width: 80%;
    margin: 0 auto;
}

.competence{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba(153,153 , 153, .2);
    border-radius: 5px;
    font-weight: 600;
    color: #666;
}